
.body {
  height: 100vh; /* Ensures the content takes up full viewport height */
  position: relative;
  overflow: auto; /* Allows the content to scroll if it overflows */
}

.card{
  top:3px;
  margin: 10px;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f8f9fa;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
  border-radius: 8px 8px 0 0;
}

.form-group{
  display: flex;
  gap: 50px;
  margin:1%;
}

.label{
  flex: 1;
}